/* Louca Cugnet Cointe */
.conteneur > div {
	height:80px;
	background-color:white;
	color:black;
	text-align:center;
	font-size:3em;
}

.conteneur {
	display: grid;
	background-color:black; 
	grid-template-columns: auto;
	padding: 2px;
	grid-gap: 2px;
    height: auto;
    margin: auto;
    min-height: 200px;
    width: 605px;
}

input[type="text"] {
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 4px;
	padding: 10px;
}

input[type="password"] {
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 4px;
	padding: 10px;
}


.ligne {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0px;
}

/*MICHAEL PROULX*/

.bloc_centre > .container-fluid {
	text-align: center;
	padding: 0px;
}
/*NAVBAR*/
.navtitle {
	width: 70px;
	color: white;
	font-size: 35px;
	font-style: oblique;
	font-weight: bold;
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 6px !important;
	padding-bottom: 8px !important;
}
.navtitle:hover{
	color: white !important;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
}
.nav-link{
	color: white !important;
	font-size: 25px !important;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}
.navlinkactive {
	color:gray !important;
}
.nav-link:hover{
	color: white !important;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
}
.BtnDeconnexion {
	height: 40px; 
	display: flex; 
	align-items: center; 
	margin-top: 6px;
}
.Titre {
	color: white;
}
.dropdown-item:hover{
	background-color: rgba(255, 255, 255, 0.2) !important;
	border-radius: px;
}
    
.charts-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	padding: 20px;
}
#infoCard {
    display: none;
}
li
{
  font-weight: bold;
	margin-bottom: 5px;
	display: block;
}
.btnanime {
  transition: transform 0.2s ease-in-out !important;
}

.btnanime:hover {
  transform: scale(1.1);
}
