.noise-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* ne bloque pas les clics */
  image-rendering: pixelated;
  z-index: 9999; /* au-dessus de tout, tu peux baisser si tu veux le mettre derrière */
}
